.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.content {
   width: 60%;
}

.about {
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
}

.picDeveloper {
    width: 250px;
    height: 180px;
    border-radius: 10%;
}

.text {
    display: flex;
    align-items: center;
}

@media (max-width: 999px) {
    .about {
        display: grid;
        width: 70%;
        gap: 0.7rem;
        margin: auto;
        margin-top: 3rem;
    }

}

@media (max-width: 750px) {

    .container {
        margin: 1rem;
        margin-top: 7rem;
    }

    .content {
        width: 100%;
     }

    .about {
        display: grid;
        width: 70%;
        gap: 0.7rem;
        margin: auto;
        margin-top: 3rem;
    }

    .subtitle {
        font-size: 12px;
    }

}