.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    gap: 3rem;
    margin-top: 7.5rem;
}

.subtitle {
    color: #FFF;
    font-size: 14px;
}

a {
    color: #FFF;
    font-size: 18px;
}

.icons {
    display: flex;
    gap: 20px;
}

.styleImg {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid #b2b2b2;
}

.profilePic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    filter: brightness(0.8);
}


@media (max-width: 750px) {

    .container {
        margin: 1rem;
        margin-top: 7rem;
        height: auto;
    }

    .content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .icons {
        justify-content: flex-end;
    }
}