nav{
    align-items: center;
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    height: auto;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.logo{
    margin-left: 2rem;
    font-size: 24px;
    letter-spacing: 2px;
}

.navlist {
    margin-right: 2rem;
    list-style: none;
    display: flex;
    padding: 0;
}

.navlist li {
    letter-spacing: 3px;
    margin-left: 32px;
}


@media (max-width: 750px) {

    nav{
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
    }
  
    .logo{
        display: none;
    }

    .navlist li {
        letter-spacing: 3px;
        justify-content: space-between;
        font-size: 12px;
        margin-left: 16px;
        padding: 0;
    }

}